.wrapper {
  border-top: 03px solid black;
}

.wrapper a {
  text-decoration: none;
  color: black;
}
.container {
  justify-content: center;
  margin: 10em;
}
body {
  background-image: url(/Image/FireflyFF.jpg);
  background-position: center;
  background-size: cover;
}
